<section class="content-header">
  <h1>
	Case History
	<small>Patient History</small>
  </h1>
    <span style="float:right"><button class="btn btn-primary" type="button" ng-click="addHistory()">+ Add</button></span>
</section>
<section class="content">

    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-green">
                        10 Feb. 2014
                    </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-user bg-aqu"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                        <h3 class="timeline-header"><a href="#">Title</a> subtitle</h3>

                        <div class="timeline-body">
                            <dl>
                                <dt>Location</dt>
                                <dd>location</dd>
                                <dt>Sensation and Complaints</dt>
                                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dt>Modalities</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                <dt>Accompaniments</dt>
                                <dd>
                                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                                    sit amet risus.
                                </dd>
                                <dt>Family History</dt>
                                <dd>
                                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                                    sit amet risus.
                                </dd>
                            </dl>
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs" ng-click="editHistory(0)">Edit</a>
                            <a class="btn btn-danger btn-xs" ng-click="deleteHistory(0)">Delete</a>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-green">
                        10 Feb. 2014
                    </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-user bg-aqu"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                        <h3 class="timeline-header"><a href="#">Title</a> subtitle</h3>

                        <div class="timeline-body">
                            <dl>
                                <dt>Location</dt>
                                <dd>location</dd>
                                <dt>Sensation and Complaints</dt>
                                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                <dt>Modalities</dt>
                                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                <dt>Accompaniments</dt>
                                <dd>
                                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                                    sit amet risus.
                                </dd>
                                <dt>Family History</dt>
                                <dd>
                                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                                    sit amet risus.
                                </dd>
                            </dl>
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs" ng-click="editHistory(0)">Edit</a>
                            <a class="btn btn-danger btn-xs" ng-click="deleteHistory(0)">Delete</a>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->


