<section class="content-header">
    <h1>
        Diagnosis and Investigation
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Diagnosis and Investigation</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-1">
                            <label style="float:left;"> Built </label>
                        </div>
                        <div class="col-xs-5">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.built"> </input>
                        </div>
                        <div class="col-xs-1">
                            <label style="float:left;">Weight </label>
                        </div>
                        <div class="col-xs-1">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.weight"> </input>
                        </div>
                        <div class="col-xs-1">
                            <label style="float:left;">Pallor </label>
                        </div>
                        <div class="col-xs-1">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.pallor"> </input>
                        </div>
                        <div class="col-xs-1">
                            <label style="float:left;">Cyanosis </label>
                        </div>
                        <div class="col-xs-1">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.cyanosis"> </input>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-1">
                            <label style="float:left;">Lcterus </label>
                        </div>
                        <div class="col-xs-1">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.lcterus"> </input>
                        </div>
                        <div class="col-xs-1">
                            <label style="float:left;"> Clubbing </label>
                        </div>
                        <div class="col-xs-1">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.clubbing"> </input>
                        </div>                 
                        <div class="col-xs-1">
                            <label style="float:left;">Pulse </label>
                        </div>
                        <div class="col-xs-3">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.pulse"> </input>
                        </div>
                        <div class="col-xs-1">
                            <label style="float:left;">B.P </label>
                        </div>
                        <div class="col-xs-3">
                            <input style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.bp"> </input>
                        </div>
                    </div>
                    <br />
  
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Respiratory System </label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.respiratorySystem"> </textarea>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Nose & Sinuses</label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" placeholder="" ng-value="data.noseSinuses"></textarea>
                        </div>
                    </div>
                    <br />
                    
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Cardiovascular System </label>
                        </div>
                        <div class="col-xs-10">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.cardiovascularSystem"> </textarea>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Abdomen </label>
                        </div>
                        <div class="col-xs-10">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.abdomen"> </textarea>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Skin</label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.skin"> </textarea>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Joints </label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" placeholder="" ng-value="data.joints"></textarea>
                        </div>
                    </div>
                    <br />
                   
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-10">
                        </div>
                        <div class="col-xs-1">
                            <button style="float:right" class="btn btn-default" type="button" ng-click="cancelHistory()"> Cancel</button>
                        </div>
                        <div class="col-xs-1">
                            <button style="float:right" class="btn btn-success" type="button" ng-click="saveHistory()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
