<section class="content-header">
    <h1>
        Generals       
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Generals</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Appetite </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="Enter Appetite" ng-value="data.appetite"> </input>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Addiction </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="Enter Addiction" ng-value="data.addiction"> </input>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Thirst </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="Enter Thirst" ng-value="data.thirst"> </input>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Perspiration </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="Enter Perspiration" ng-value="data.perspiration"> </input>
                        </div>
                    </div>
                    <br />
                   
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Desire </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="Enter Desire" ng-value="data.desire"> </input>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Bladder </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="Enter Bladder" ng-value="data.bladder"> </input>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Aversion </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="DD/MM/YYYY" ng-value="data.aversion"> </input>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Bowel </label>
                        </div>
                        <div class="col-xs-4">
                            <input style="float:left;" class="form-control" type="text" placeholder="Enter Bowel" ng-value="data.bowel"> </input>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Menstrual History </label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.menstrualHistory"> </textarea>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Development History </label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" placeholder="" ng-value="data.developmentHistory"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Pregnancy Parturition </label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.pregnancyParturition"> </textarea>
                        </div>
                        <div class="col-xs-2">
                            <label style="float:left;"> Sleep & Dreams </label>
                        </div>
                        <div class="col-xs-4">
                            <textarea style="float:left;" class="form-control" placeholder="" ng-value="data.sleepDreams"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Itellectual State </label>
                        </div>
                        <div class="col-xs-10">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.itellectualState"> </textarea>
                        </div>
                        
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Emotional State </label>
                        </div>
                        <div class="col-xs-10">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.emotionalState"> </textarea>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-2">
                            <label style="float:left;"> Reaction Effects </label>
                        </div>
                        <div class="col-xs-10">
                            <textarea style="float:left;" class="form-control" type="text" placeholder="" ng-value="data.reactionEffects"> </textarea>
                        </div>

                    </div>
                    <br />
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-10">
                        </div>
                        <div class="col-xs-1">
                            <button style="float:right" class="btn btn-default" type="button" ng-click="cancelHistory()"> Cancel</button>
                        </div>
                        <div class="col-xs-1">
                            <button style="float:right" class="btn btn-success" type="button" ng-click="saveHistory()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
